body {
  width: 100vw;
  height: 100vh;
  background: url(https://c1.staticflickr.com/4/3489/3748539574_7d1d2696c8_b.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}

.searchlabel {
  color: white;
  position: absolute;
  bottom: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: 'Anton', sans-serif;
}

.searchbar {
  position: absolute;
  bottom: 60%;
  right: 50%;
  transform: translate(50%, -50%);
}

.anchor {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}

.white {
  background-color: white;
  color: black;
  border-radius: 0.1em;
  font-family: 'Playfair Display', serif;
}
